{% extends 'layout.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/article_body.css') }}">
{% endblock %}

{% block body %}
<section class="article-wrapper">
    <p style="text-align:center"><img alt="" height="473" src="http://localhost:5000/static/images/temp_1.png" width="703" /></p>

    <h1 style="text-align:center">Klimafornekter Per</h1>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris scelerisque eros quis leo tempor, nec laoreet enim ullamcorper. Etiam ultricies posuere purus vel lobortis. Donec iaculis erat sit amet tortor pellentesque, euismod fringilla mauris vehicula. Nunc vitae lacus lorem. Donec interdum quam id velit commodo tempor. Proin sodales, justo id laoreet mollis, elit urna placerat felis, interdum ultricies sem mi ut ex. Curabitur dapibus maximus vestibulum. Vestibulum tincidunt imperdiet lacus, sit amet dignissim massa pellentesque eget. Curabitur a dui vitae leo fringilla accumsan ac et massa. Vestibulum sagittis ex non nisi bibendum, eu dignissim mauris tempor. Suspendisse mattis arcu eget mauris varius tempor. Nullam lobortis sed tellus in venenatis. Integer nisl tellus, pulvinar non nunc quis, mattis consectetur odio. Suspendisse eget sapien diam.</p>
    
    <p>Morbi fringilla elit sed convallis ullamcorper. Vivamus fringilla id ipsum non placerat. Integer malesuada commodo dolor at tincidunt. Nam vestibulum lectus sapien, quis tempor tortor vulputate non. Nulla vel congue sem. Aenean vitae scelerisque dui, quis porta magna. In dictum pretium diam, ac molestie neque volutpat nec. Quisque vel lobortis risus. Nam eget pulvinar nulla, convallis vulputate magna. Vivamus gravida est ut sagittis tempus.</p>
    
    <p>Cras sollicitudin neque eget turpis ullamcorper consectetur. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean quis urna eros. Nam aliquet interdum est, eu pellentesque justo elementum vel. Pellentesque aliquet ligula et ipsum bibendum euismod. Vivamus finibus, diam et sodales ultricies, urna felis sagittis nisl, iaculis aliquam nunc nisl a enim. Aliquam quis nulla vestibulum, semper risus hendrerit, convallis mi. Integer vel hendrerit justo.</p>
    
    <blockquote>
    <h2 style="text-align:center">Lorem ipsum dalar tarem ...</h2>
    </blockquote>
    
    <div style="text-align:center">
    <figure class="image" style="display:inline-block"><img alt="" height="668" src="http://localhost:5000/static/images/temp_2.png" width="978" />
    <figcaption>Lorem ipsum dalar tarem kadse ager.</figcaption>
    </figure>
    </div>
    
    <p>&nbsp;</p>
    
    <p>Pellentesque maximus odio ut lacus porttitor, quis tincidunt arcu ultrices. Donec egestas consequat diam ut rutrum. Nunc vitae tincidunt ante. Aliquam nec tellus a quam feugiat ullamcorper. Vestibulum vel ex libero. Etiam at est vel mi consequat convallis a vitae ante. Fusce tortor ipsum, dapibus eu mauris sed, laoreet iaculis tellus. Praesent in hendrerit turpis. Duis dapibus pulvinar mauris. In turpis arcu, porta sit amet scelerisque eu, tempor commodo lectus. Morbi rutrum sodales ante non finibus. Donec a orci dignissim, auctor nunc at, imperdiet leo. Etiam pulvinar varius malesuada. Nullam consectetur congue convallis.</p>
    
    <p>Quisque bibendum tincidunt augue, eget posuere quam interdum nec. Proin eu ex ut nibh dictum lobortis. Suspendisse nec accumsan arcu. Sed feugiat diam non justo ullamcorper, eu tristique turpis faucibus. Morbi sit amet malesuada urna. Aliquam id lorem sed nunc auctor facilisis vel eget elit. Praesent finibus justo sem, non iaculis lacus blandit eu. Nunc quis purus sit amet felis pretium dictum eu a risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sit amet iaculis mi.</p>
    
    <p style="text-align:center"><img alt="" height="389" src="http://localhost:5000/static/images/Per_Klimafornekter_3_of_15_1.png" width="378" /></p>

    <div class="videodetector"><iframe frameborder="0" src="https://player.vimeo.com/video/428110926?portrait=0"></iframe><input class="remove-videodetector" type="button" value="Remove video" /></div>
    
    <p>&nbsp;</p>
    </div>
    </div>
    
    <p>&nbsp;</p>
    

</section>
{% endblock %}