{% extends 'cdn.layout.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cdn.controlpanel.css') }}">
{% endblock %}
{% block body %}
<div class="wrapper">
<form action="#" method="POST" enctype="multipart/form-data"> 
    <input type="file" name="file">
    <input type="submit">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</form>
<section class="image-grid">
    {% for url in urls %}
    <img src="{{ url }}" onClick="copy(this.src);">
    {% endfor %}
</section>
</div>
{% endblock %}